# Define all DEV requirements, only pin when necessary
# (and if so, add a comment explaining why).
#
# These requirements are compiled using `make requirements` and
# stored with a pinned version in requirements_dev.txt

# Base requirements
-r ./requirements.txt

# Tools for maintaining requirements.txt:
pip-tools

# test libs
pytest
pytest-cov
pytest-django
pytest-factoryboy
factory-boy
time-machine

# Code formatting
black
isort

# Debugging
ipdb
django-debug-toolbar
